<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
    <title>게시판</title>
<!--</head>-->
<th:block th:replace="layout/header :: headerFragment"></th:block>

<!--<style>-->

<!--    .layout {-->
<!--        width : 500px;-->
<!--        margin : 0 auto;-->
<!--        margin-top : 40px;-->
<!--    }-->

<!--</style>-->

<body>

    <div class="layout">

        <table class="table">
            <thead  class="table-light">
                <tr>
                    <th scope="col">NO.</th>
                    <th scope="col">SUBJECT</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="board : ${list}">
                    <th scope="row" th:text="${board.id}">1</th>
                    <td>
                        <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                    </td>
                </tr>
            </tbody>
        </table>


        <th:block th:each = "page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if = "${page != nowPage}" th:href ="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text = "${page}"></a>
            <strong th:if = "${page == nowPage}" th:text = "${page}" style="color : red"></strong>
        </th:block>

        <nav class="navbar bg-light">
            <div class="container-fluid">
                <form class="d-flex" role="search" th:action="@{/board/list}" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchKeyword">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <br>
        <button class="btn btn-outline-success" th:onclick="|location.href='@{/}'|">메인으로</button>

    </div>
</body>

<th:block th:replace="layout/footer :: footerFragment"></th:block>

</html>