<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<head>-->
<!--  <meta charset="UTF-8">-->
  <title>로그인 페이지</title>
<!--</head>-->
<th:block th:replace="layout/header :: headerFragment"></th:block>

<style>
 #tag{

    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
 }
</style>

<body>

    <br>

    <div id="tag">
        <form action="/login" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Id</label>
                <input type="text" class="form-control" id="username" name="username" />
                <div id="emailHelp" class="form-text">We'll never share your Id with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password"  name="password" />
            </div>
    <!--        <div class="mb-3 form-check">-->
    <!--            <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
    <!--            <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
    <!--        </div>-->
            <button type="submit" class="btn btn-primary">로그인</button>

        </form>
    </div>
<!--    <button th:onclick="|location.href='@{/}'|" class="btn btn-primary">메인</button>-->


</body>

<th:block th:replace="layout/footer :: footerFragment"></th:block>

</html>